*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    font-size: 62.5%;
}

body {
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgb(0);
    padding: 30px;
}

/* Navigation */
.navigation__menu {
    height: 6.2rem;
    z-index: 2500;
    opacity: 1;
}

.navigation__menu-box {
    position: absolute;
    top: 0rem;
    right: -1rem;
}

.navigation__background {
    background: 6rem;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    position: fixed;
    top: 5rem;
    right: 5.3rem;
    background-color: transparent;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    /*     transform: scale(50); */
}

.navigation__button {
    background-color: transparent;

    height: 6.5rem;
    width: 6.5rem;
    position: fixed;
    top: 3rem;
    right: 5rem;

    border-radius: 50%;
    z-index: 2000;

    text-align: center;
    cursor: pointer;
}

.navigation__checkbox {
    display: none;
}

.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(25);
    background-color: black;
}

.navigation__checkbox:checked ~ .navigation__button {
    border: 6px solid white;
}

.navigation__checkbox:checked ~ .navigation__nav {
    width: 50%;
    opacity: 1;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__nav {
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    /* left로 바꾸면 왼쪽에서 메뉴가 나오는 효과가난다 */
    /* left: 0; */
    z-index: 1500;

    opacity: 0;
    /*    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
    /*    2.들어가는거, 나오는거 제어하려면 어떻게???*/
}

.navigation__list {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
    line-height: 0.9;
    display: inline-block;
    font-size: 5rem;
    font-weight: 400;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-size: 230%;
    transition: all 0.4s;
}

.navigation__link .menu__arrow,
.navigation__link:link .menu__arrow,
.navigation__link:visited .menu__arrow {
    /*    margin-right: 1rem;*/
    width: 3rem;
    position: absolute;
    top: 0.8rem;
    left: 21rem;
    display: inline-block;

    visibility: hidden;
}

.navigation__link:hover .menu__arrow,
.navigation__link:active .menu__arrow {
    width: 3rem;
    position: absolute;
    top: 0.8rem;
    left: -2rem;
    display: inline-block;
    visibility: visible;
    /*    transition: all 0.2s;*/
}

.navigation__link:hover,
.navigation__link:active {
    color: orangered;
    transform: translateX(1rem);
}

.navigation__icon {
    position: relative;
    top: 46%;
    right: 3%;
    transform: translateY(-1px);
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    opacity: 0;
    width: 5.7rem;
    height: 7px;
    background-color: white;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.navigation__icon::before {
    top: -0.8rem;
}

.navigation__icon::after {
    top: 0.8rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
    opacity: 1;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    opacity: 1;
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    opacity: 1;
    top: 0;
    transform: rotate(-135deg);
}

.navigation__checkbox:checked
    + .navigation__button
    .navigation__menu-box
    .navigation__menu {
    visibility: hidden;
}

.header {
    height: 20vh;
    background-color: white;
    background-size: cover;
    /* image가 화면크기에 따라서 어떻게 줄어드는지 보여준다. 그때 기준 (top, bottom, center) */
    background-position: top;

    position: relative;
}

/* LOGO */
.header__logo-box {
    position: absolute;
    top: -0.1rem;
    left: -0.4rem;
    z-index: 10000;
}

.header__logo {
    height: 11.5rem;
}

/*main*/
/*section-main*/
/*folk_dance_main*/

.folk_dance_box {
    position: relative;
    padding: 0.8rem;
}

.folk_dance_name {
    position: relative;
    text-align: center;
    top: 43%;
    left: 5.5%;
    font-size: 2.1rem;
}

.folk_a {
    background-color: black;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    text-decoration: none;
    color: white;
    display: inline-block;
    transform: scale(0);
    /* transform: scale(0.95); */
}

.folk_a.scaleUp {
    transition: all 1s;
    transform: scale(1);
}

.folk_a:hover,
.folk_a:active {
    background-color: orangered;
    color: white;
    font-weight: 600;
    transition: all 0.2s;
    transform: scale(1.1);
    text-decoration: none;
}

/*folk_dance*/
.section-main {
    height: 88vh;
    background-color: white;
    background-size: cover;
    /* image가 화면크기에 따라서 어떻게 줄어드는지 보여준다. 그때 기준 (top, bottom, center) */
    background-position: top;

    position: relative;

    margin-bottom: 30vh;
}

.header__main-box {
    position: absolute;
    transition: all 0.2s;
    margin-top: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__main-video {
    position: relative;
    top: -5rem;
    width: 90rem;
    background-position: top;
    clip-path: circle(34.6% at 50% 50%);
}

.header__logo-box-2 {
    position: relative;
    top: 58rem;
}

.header__logo-2 {
    width: 20rem;
    /*  height: auto;*/
}

/*section-dance*/

.section-dance {
    /*    height: 20rem;*/
    background-color: white;

    padding: 0 3rem 25rem;
}

.arrow__left-box,
.arrow__right-box {
    width: 3.5rem;
    z-index: 1000;
    position: absolute;
    /*    right: 10px;*/
    /*    비디오 앞에 올 순 없는건가..*/
}
/*1.svg 소스 추가시 크기 변환*/

.arrow__left-box {
    left: 10px;
}

.arrow__right-box {
    right: 10px;
}

.dance-video-1 {
    position: relative;
    top: -3rem;
    width: 95%;
    z-index: 100;
    /*    background-position: top;*/
}
.section-dance-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-classify {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
    color: black;
    /*  letter-spacing: 2px;*/
    line-height: 0.01rem;
}

.heading-dance-name {
    font-size: 5.5rem;
    margin-left: -0.37rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    color: black;
    line-height: 4rem;
    padding: 0 0 4rem;
    /*  letter-spacing: 2px;*/
}

.paragraph {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.5rem;
    text-transform: uppercase;
    padding: 0 0 4rem;
}

p {
    display: block;
    margin: 0em;
}

.paragraph1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.5rem;
    text-transform: uppercase;
}

.paragraph__year {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
}
.heading-note {
    margin-bottom: 2rem;
}
.btn,
.btn:link,
.btn:visited {
    /*  text-transform: uppercase;*/
    text-decoration: none;
    padding: 1rem 1.1rem;
    /* 기본적으로 inline 요소는 해당요소 자체의 높이를 가지지 못한다 */
    display: inline-block;
    border-radius: 20rem;
    transition: all 0.2s;

    position: relative;
    border: 3rem;
    cursor: pointer;
    margin-bottom: 0.3rem;
}

.btn:hover {
    background-color: orangered;
    color: white;
}

.btn--black {
    background-color: black;
    color: white;
}
.dance__detail {
    display: flex;
    /*    flex-direction:*/
}
.dance__flex-1 {
    display: flex;
    flex: 0 0 48%;
    flex-direction: column;
    margin-right: 5rem;
}

.dance__text {
    display: flex;
}

.dance__year-finder {
    display: flex;
    justify-content: space-between;
}

.flex-container {
    width: 48rem;
}

.dance__flex-2 {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
}

.text-related {
    margin-bottom: 1rem;
}
/*2.안먹음*/

.video_wrap {
    position: relative;
    width: 102%;
    height: 0;
    padding-bottom: 57.4%;
}

iframe {
    position: absolute;

    width: 100%;
    height: 100%;
}

.row {
    /*  max-width: 114rem;*/
    /* background-color: #eee; */
    /* block element 사이에 (부모 - 자식) 가운데 위치로 브라우저가 잡아준다 */
    /* margin : 0 auto; */
    /*  margin: 0 auto;*/
}

.row:not(:last-child) {
    margin-bottom: 1rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

[class^="col-"] {
    float: left;
}

/* 1/2 Layout */
.row .col-1-of-2 {
    width: calc((100% - 3rem) / 2);
}

.row .col-1-of-2:not(:last-child) {
    margin-right: 3rem;
}

/* 1/3 Layout */
.row .col-1-of-3 {
    width: calc((100% - 6rem) / 3);
}

.row .col-1-of-3:not(:last-child) {
    margin-right: 3rem;
}

/* 1/3 2/3 Layout */

.row .col-1-of-3-1 {
    width: calc(((100% - 1rem) / 6) * 2);

    /* float: left; */
}

.row .col-1-of-3-1:not(:last-child) {
    margin-right: 1rem;
}

.row .col-2-of-3-2 {
    width: calc(((100% - 1rem) / 6) * 4);
}

/* 2/4 1/4 Layout */

.row .col-2-of-4-1 {
    width: calc(((100% - 12rem) / 4));

    /* float: left; */
}

.row .col-1-of-4-1:not(:last-child) {
    margin-right: 4rem;
}

.row .col-1-of-4-2 {
    width: calc(((100% - 12rem) / 4) * 2);
}

/* 1/4 Layout */
.row .col-1-of-4 {
    width: calc((100% - 9rem) / 4);
}

.row .col-1-of-4:not(:last-child) {
    margin-right: 3rem;
}

/*history Layout*/
.row .col-5-of-8 {
    width: calc(((100% - 5rem) / 8) * 5);
}

.row .col-5-of-8:not(:last-child) {
    margin-right: 5rem;
}

.row .col-3-of-8 {
    width: calc(((100% - 5rem) / 8) * 3);
}

/*folk_dance_main Layout*/
.row .col-1-of-5-1 {
    width: calc((100% - 2rem) / 6);
}

.row .col-1-of-5-1:not(:last-child) {
    margin-right: 2rem;
}

.row .col-4-of-5-2 {
    width: calc(((100% - 2rem) / 6) * 5);
}

/* utility class */
.u-center-text {
    text-align: center;
}

.u-margin-bottom-2 {
    margin-bottom: 2rem !important;
}

.u-margin-bottom-4 {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-8 {
    margin-bottom: 8rem !important;
}

.u-margin-top-8 {
    margin-top: 8rem !important;
}

/* footer */
.footer {
    background-color: black;
    padding: 1rem 3rem 10rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

.footer__navigation {
    padding-top: 2rem;
    display: inline-block;
}

.footer__list {
    list-style: none;
}

.footer__item {
    display: inline-block;
}

.footer__item:not(:last-child) {
    margin-right: 1rem;
}

.footer__link,
.footer__link:link,
.footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
}

.footer__link:hover {
    color: orange;
    /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); */
    background-color: transparent;
}

.footer__copyright {
    color: #f7f7f7;

    padding-top: 2rem;

    float: right;
}

#Layer_1 {
    width: 40rem;
}

#Layer_1 #path2894:hover {
    fill: red;
}

/*history*/
.section-history {
    padding: 2rem 0;
}

.costume_whole_box{
    padding: 2rem 0;
}

.history_comp_text_01 {
    font-weight: 400;
    font-size: 2.2rem;
}

.history_comp_text_02 {
    font-weight: 400;
    font-size: 2.2rem;
    position: absolute;
    left: 23rem;
    z-index: 3000;
    /* background: rgb(255,255,255,0.5);*/
}

/*history_comp_left_content*/
/*button*/

.icon {
    width: 7rem;
    transform: scale(0);
}

.icon.scaleUp {
    transition: all 0.5s;
    transform: scale(1);
}

.tag {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2rem;
    position: absolute;
    left: 6rem;
    top: -0.1rem;
    text-align: left;
    width: 10rem;
    height: 7rem;
    z-index: 1000;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 20rem;
    /*  text-shadow: -1.5px -1.5px 0 white, 1.5px -1.5px 0 white, -1.5px 1.5px 0 white, 1.5px 1.5px 0 white;*/

    padding: 1.5rem 1rem 2rem 1.5rem ;
    transition: 1s ease-in-out;
}

.open_toggles:focus {
    background: transparent;
    border: none;
    outline: none;
}

.history_comp_left_content {
    position: relative;
}

.history_img_icon_box {
    position: absolute;
    padding: 0;
    display: inline-block;
}

.history_img_icon_box span.tag {
    display: none;
}

.icon:hover{
    transition: all 0.5s;
    transform: scale(1.2);
}

.history_img_icon_box:hover span.tag {
    display: block;

    transition: all 0.5s;
    transform: translate(1.5rem);
}

button.selected:focus .icon{
    transform: scale(1.2);

}
button.selected:focus .tag{
    display: block;

    transform: translate(1.5rem);
    transition: all 0.5s;
}



.history_img_icon_box:link,.history_img_icon_box:active,.history_img_icon_box:visited span.tag {
    opacity: 100;
    transition: all 0.5s;
    transform: translate(1rem);
}



.rule_1914.selected,.rule_1917.selected,.rule_1918.selected,.rule_1919.selected,.rule_1925.selected,.rule_1926.selected,.rule_1927.selected,.rule_1929.selected,.rule_1930.selected,.rule_1931.selected{
  transform: translateX(1.3rem) translateY(2.2rem) scaleX(2.5) scaleY(2);

  transition: 0.4s ;
}


ol,
li {
    list-style-type: none;
}

#rule {
    /*    counter-reset: marker; */
    position: absolute;
    top: 23rem;
    left: 0rem;
    padding-left: 0;
}

#rule li {
    height: 1.2cm;
    border-top: 2px solid #000;
    box-sizing: border-box;
    width: 1.3em;
    /*    transition: border-width 0.1s linear;*/
}

#rule li:nth-child(5n) {
    width: 2.5em;
}
#rule li:last-child {
    height: 0;
}

.history_comp_left_content button.history_img_icon_box {
    background: transparent;
    border: none;
}

.senti {
    position: fixed;
    z-index: 100000;
    left: 3rem;
}

.senti_img {
    width: 70rem;
    display: none;
}
.history_button_1914 {
    left: 5.5em;
    top: 15.5rem;
/*    0.7*/
}

.history_button_1917 {
    left: 15.7rem;
    top: 29rem;
    /*-0.5*/
}

.history_button_1918 {
    left: 40.2rem;
    top: 33rem;
    /* 32rem중간*/
    /*    0.2*/
}

.history_button_1919 {
    left: 33.2rem;
    top: 38rem;
    /*0*/
}

.history_button_1925 {
    left: 33.2rem;
    top: 65rem;
    /* 29rem중간*/
    /*0*/
}
.history_button_1926 {
    left: 26.2rem;
    top: 69.5rem;
    /*   -0.2 */
}

.history_button_1926_01 {
    left: 12.3rem;
    top: 69.5rem;
    /*    -0.6*/
}
.history_button_1926_01:hover,.history_button_1926_01:focus {
    z-index: 100;
    opacity: 0.9;
}

.history_button_1927 {
    left: 12.3rem;
    top: 74rem;
    /*    -0.6*/
    opacity: 0.9;
}
.history_button_1927:hover,.history_button_1927:focus {
    z-index: 100;
    opacity: 0.9;
}
.history_button_1927_01:hover,.history_button_1927_01:focus {
    z-index: 100;
    opacity: 0.9;
}
.history_button_1927_01 {
    left: 5.2rem;
    top: 74rem;
    opacity: 0.9;
    z-index: 1;
    /*    -0.8*/
}
.history_button_1927_02 {
    left: 9rem;
    top: 74rem;
    opacity: 0.9;
    /*    -0.7*/
}

.history_button_1927_02:hover,.history_button_1927_02:focus {
    z-index: 100;
    opacity: 0.9;
}
.history_button_1927_03 {
    left: 19.3rem;
    top: 74rem;
    opacity: 0.9;
    z-index: 0;
    /*    -0.4*/
}

.history_button_1929 {
    left: 12.5rem;
    top: 83rem;
    opacity: 0.9;
    z-index: 0;
    /*    -0.4*/
}

.history_button_1929:hover,.history_button_1929:focus {
    z-index: 100;
    opacity: 0.9;
}

.history_button_1930 {
    left: 19.3rem;
    top: 88rem;
    /*    -0.4*/
    opacity: 0.9;
}
.history_button_1930:hover,.history_button_1930:focus {
    z-index: 100;
    opacity: 0.9;
}

.history_button_1930_01 {
    left: 30rem;
    top: 88rem;
    /*    -0.1 m*/
    opacity: 0.9;
}
.history_button_1930_01:hover,.history_button_1930_01:focus {
    z-index: 100;
    opacity: 0.9;
}

.history_button_1930_02 {
    left: 33.2rem;
    top: 88rem;
    /*    0*/
    opacity: 0.9;
}
.history_button_1930_02:hover,.history_button_1930_02:focus {
    z-index: 100;
    opacity: 0.9;
}

.history_button_1931 {
    left: 5rem;
    top: 92rem;
    /*    -0.8*/
    opacity: 0.9;
}
.history_button_1931:hover,.history_button_1931:focus {
    z-index: 100;
    opacity: 0.9;
}

.history_button_1931_01 {
    left: 40.1rem;
    top: 92rem;
    /*    0.2 m */
    opacity: 0.9;
}
.history_button_1931_01:hover,.history_button_1931_01:focus {
    z-index: 100;
    opacity: 0.9;
}

.history_button_1931_02 {
    left: 8.7rem;
    top: 92rem;
    /*    -0.3 */
    opacity: 0.9;
}
.history_button_1931_02:hover,.history_button_1931_02:focus {
    z-index: 100;
    opacity: 0.9;
}

.history_button_1931_03 {
    left: 22.8rem;
    top: 92rem;
    /*    -0.7 m */
    opacity: 0.9;
}
.history_button_1931_03:hover,.history_button_1931_03:focus {
    z-index: 100;
    opacity: 0.9;
}



/*history_comp_right*/

.history_legend_br {
    padding: 8rem 0rem 5rem;
}

.history_legend {
    margin-top: 2rem;
    margin-bottom: 8rem;
    position: relative;
}

input[type="radio"] + label.elites_i {
    position: relative;
    height: 4rem;
    width: 4rem;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}
/*원을 relative*/

/*
#section-history
  .history_legend
  input[type="radio"]:checked
  + label.clergy_i:hover
  ~ .labelSpan {
  display: block;
}
*/

.govern_i,
.clergy_i,
.elites_i {
    /* position: relative; */
    float: left;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    /* background-color: rgb(255, 139, 0); */
    border-radius: 50%;
    display: inline-block;
}

.govern_i::after,
.clergy_i::after,
.elites_i::after {
    content: "";
    display: table;
    clear: both;
}

input[type="radio"] + label.clergy_i {
    position: relative;
    height: 4rem;
    width: 4rem;
    background-color: rgb(0, 255, 255);
    border-radius: 50%;
    display: inline-block;
}

input[type="radio"] + label.govern_i {
    position: relative;
    height: 4rem;
    width: 4rem;
    background-color: rgb(255, 139, 0);
    border-radius: 50%;
    display: inline-block;
}

input[type="radio"] + label:hover {
    cursor: pointer;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

input[type="radio"]:checked + label {
    /*  border: 3px dashed orangered;*/
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    cursor: pointer;
}

#toggle4 + label:hover {
    cursor: pointer;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) rotate(45deg);
}

input[type="radio"]:checked + label[for="toggle4"] {
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) rotate(45deg);
    cursor: pointer;
}

input[type="radio"]:checked + label[for="toggle4"]:hover {
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) rotate(45deg);
    cursor: pointer;
}

#section-history .history_legend input[type="radio"] ~ span {
    position: absolute;
    width: 15rem;
    text-align: left;
    height: 11rem;
    right: 0px;
    top: 0px;
    margin: 15px;
    padding: 4px;
    display: none;
    font-size: 2.1rem;
    line-height: 2.7rem;
    font-weight: 500;
}

/* 라디오 hover */
#section-history .history_legend input[type="radio"]:hover ~ span {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    z-index: 1001;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
}
/* 라디오 checked */
#section-history .history_legend input[type="radio"]:checked ~ span {
    display: block;
    position: absolute;
    z-index: 1000;
    right: 0px;
    top: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
}

/* 추가 */
/*
.ajc_wrapper {
  display: inline-block;
  padding-top: 22px;
  cursor: pointer;
  background: transperent;;
}

.heem_wrapper {
  display: inline-block;
  padding-top: 22px;
  cursor: pointer;
  background: transperent;;
}

.folk_wrapper {
  display: inline-block;
  padding-top: 22px;
  cursor: pointer;
  background: transperent;
}
*/

.ajc_box,
.heem_box,
.folk_box {
    /* position: relative; */
    float: left;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    /* background-color: rgb(255, 139, 0); */
    border-radius: 50%;
    display: inline-block;
}

.ajc_box::after,
.heem_box::after,
.folk_box::after {
    content: "";
    display: table;
    clear: both;
    /*    float: left;*/
}

.ajc_i {
    width: 4.4rem;
    height: 0.75rem;
    background-color: rgb(0, 255, 0);
    transform: rotate(-45deg);
}
.ajc_i,
.ajc_i::before {
    content: "";
    position: absolute;
    width: 4.4rem;
    height: 0.75rem;
    background-color: rgb(0, 255, 0);
}
.ajc_i::before {
    transform: rotate(90deg);
}

/*
.ajc_i::after {
  transform: rotate(135deg);
  left: 0rem;
}
*/

.heem_i {
    display: inline-block;
    width: 4rem;
    height: 0.8rem;
    background-color: transparent;
    position: relative;
}

.heem_i::before,
.heem_i::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgb(0, 255, 0);
}
.heem_i::before {
    /*   transform: rotate(0deg);*/
}
.heem_i::after {
    transform: rotate(90deg);
    left: 0;
}

.folk_i {
    width: 4rem;
    height: 0.8rem;
    background-color: transparent;
    display: inline-block;
}

.folk_i::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgb(0, 255, 0);
}

.folk_i::before {
    transform: rotate(0deg);
}

.raci_box,
.social_box,
.nazi_box,
.national_box {
    /* position: relative; */
    float: left;
    height: 8rem;
    width: 4rem;
    margin-right: 2rem;
    /* background-color: rgb(255, 139, 0); */
    border-radius: 50%;
    display: inline-block;
}

.raci_box::after,
.social_box::after,
.nazi_box::after,
.national_box::after {
    content: "";
    display: table;
    clear: both;
}

.raci_i {
    position: relative;
    height: 4rem;
    width: 4rem;
    /*  background-color: rgb(255,139,0);*/
    border-radius: 50%;
    border: rgb(199, 0, 255) solid 7px;
    display: inline-block;
}

.social_i {
    position: relative;
    height: 4rem;
    width: 4rem;
    /*  background-color: rgb(255,139,0);*/
    border-radius: 50%;
    border: rgb(255, 0, 255) solid 7px;
    display: inline-block;
}

.nazi_i {
    position: relative;
    height: 4rem;
    width: 4rem;
    /*  background-color: rgb(255,139,0);*/
    border-radius: 50%;
    border: rgb(255, 0, 0) solid 7px;
    display: inline-block;
}

.national_i {
    position: relative;
    height: 4rem;
    width: 4rem;
    /*  background-color: rgb(255,139,0);*/
    border-radius: 50%;
    border: rgb(255, 103, 0) solid 7px;
    display: inline-block;
}

/*firestore*/
.desc_image {
    float: left;
    width: 18rem;
    padding: 0.8rem 1.3rem 1rem 0rem;

}

.desc_image::after {
    content: "";
    display: table;
    clear: both;
}

.year_title {
    font-weight: 500;
    font-size: 2.2rem;
    margin-top: 15px;
    display: inline-block;
    content: "";
    display: table;
    clear: both;
    bottom: -10px;
    /*    float: left;*/
}

.collapsible:focus {
    border: none;
    outline: none;
}

.collapsible {
    background-color: transparent;

    color: black;
    border-top: 2rem solid black;
    cursor: pointer;
    padding: 0.2rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 400;

    line-height: 2.8rem;
}

.active,
.collapsible:hover {
    background-color: black;
    color: white;
}

.collapsible:hover .collapsible::after {
    color: white;
}
/*안돼*/

.collapsible:after {
    content: "\002B";
    color: black;
    font-weight: 400;
    float: right;
    margin-left: 5px;
    font-size: 1.8rem;
    margin-top: -0.4rem;
    margin-bottom: -1rem;
}

.active:after {
    content: "\2212";
    color: white;
    font-size: 1.5rem;
    margin-top: 0rem;
    font-weight: bold;
}

.content {
    font-size: 1.9rem;
    font-weight: 400;
    padding: 0 0.2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    line-height: 3rem;
}

/*costume*/
/*costume_ex*/
.costume_ex{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.costume_ex_num{
    font-size: 2.2rem;
    font-weight: 600;
    padding-left: 1.5rem;
    padding-right: 1rem;
}
.costume_ex_img{
 clip-path: circle(48% at 50% 50%);
 width:16rem;
 margin-bottom: 1.3rem;
  z-index: 100;
}


.costume_ex_box{
    width:16rem;
     text-align: center;
}

.costume_ex_span{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6rem;
    background: transparent;


}

.costume_ex_plus{
    font-size: 3rem;
    font-weight: 500;
    position: relative;
    top:3.2rem;
    padding: 1.2rem;

}

.circle {
      width: 100px;
      height: 100px;
      background: black;
      border-radius: 50%
    }

.costume_ex_plus:after{
    clear: both;
    content: "";
    display: table;
}



.costume_img{
    border-radius: 2rem;
    transition: all 0.2s;


}


.costume_img:hover {
  border-radius: 3rem;
  padding: 1rem;
  transform: scale(0.98);
/*  border:2px solid black;*/
/*    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);*/
    border: 3px solid black;
    z-index: 1000;
    transition: all 0.4s;

}


/*
.costume_img_container:hover,.costume_img_container:active{
    background-color: orangered;
     background-blend-mode: screen;
}

.costume_img_container{
   background-image: url("https://s3.ap-northeast-2.amazonaws.com/t2est.com/NL_costume%2FUtrecht_01.jpg");
   height: 25rem;
   background-size: cover;
   border-radius: 3rem;

}
*/

.costume_region_box {
    margin-left: 0rem;
    display: flex;
    flex-direction: column;

}
.costume_state {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;
    font-weight: 300;

}

.costume_region{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}
.costume_region_each{
    display: flex;
    flex-direction: column;
}
.costume_region_each a {
    text-decoration: none !important;
}
.costume_region:hover,
.costume_region:active {
    color: orangered;
    font-weight: 600;
}

.costume_region_each a:last-child{
    padding-bottom: 2rem;
}

.costume_village_name {
    font-size: 3rem;
    color: black;
    font-weight: 500;
}
.costume_village_hashtag{
    font-size: 1.6rem;
    color: black;
    font-weight: 500;
    font-style: italic;
}

#columns {
    padding-left: 2.5rem;
    column-width: 26rem;
    column-gap: 1.5rem;
}
#columns a {
    display: inline-block;

    margin: 0;
    margin-bottom: 15px;
}
#columns a img {
    width: 100%;
}

/* popup */
.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 90000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.popup__content {
    width: 75%;
    height: 45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;

    display: table;
    overflow: hidden;

    opacity: 0;
    transition: all 0.7s 0.2s;
}

.popup__left {
    width: 90%;
    display: table-cell;
    padding: 2rem 0rem 1rem 2.3rem;
/*    text-align: right;*/
}

.popup__img {
    display: block;
    width: 100%;
    border-radius: 1rem;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_close,
.popup_close:link,
.popup_close:visited {
    color: black;
    position: absolute;
    top: -0.2rem;
    right: 1.5rem;
    font-size: 7rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1;
}

.popup_close:hover {
    color: orangered;
}

.popup:target .popup__content {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.costume_popup_share{
    padding: 0.5rem;
    float: right;
    width:30rem;
    text-align: right;
    line-height: 2rem;
    display: inline-block;
    text-decoration: none !important;
    font-weight: 500;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
}
.costume_popup_share::after,
{
    content: "";
    display: table;
    clear: both;
}
.costume_popup_share a{
    margin: 0.1rem;
    display: inline-block;
    text-decoration: none !important;
    font-weight: 500;
    color: black;
    font-size: 1.8rem;
}


.costume_popup_share a:hover,
.costume_popup_share a:active {
    color: orangered;
}

.costume_popup_copywright a {
    margin: 0.3rem;
    display: inline-block;
    text-decoration: none !important;
    font-weight: 500;
    color: black;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.costume_popup_copywright a:hover,
.costume_popup_copywright a:active {
    color: orangered;
}

.popup__img-height{
    width: 30%;
}

